<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-author-heading" data-cy="AuthorCreateUpdateHeading" jhiTranslate="jbookmanApp.author.home.createOrEditLabel">
        Create or edit a Author
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jbookmanApp.author.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="jbookmanApp.author.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_writingstyle" jhiTranslate="jbookmanApp.author.writingstyle">Writingstyle</label>
          <select class="form-control" name="writingstyle" formControlName="writingstyle" id="field_writingstyle" data-cy="writingstyle">
            <option [ngValue]="null">{{ 'jbookmanApp.WritingStyle.null' | translate }}</option>
            @for (writingStyle of writingStyleValues; track $index) {
              <option [value]="writingStyle">{{ 'jbookmanApp.WritingStyle.' + writingStyle | translate }}</option>
            }
          </select>
          @if (editForm.get('writingstyle')!.invalid && (editForm.get('writingstyle')!.dirty || editForm.get('writingstyle')!.touched)) {
            <div>
              @if (editForm.get('writingstyle')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthday" jhiTranslate="jbookmanApp.author.birthday">Birthday</label>
          <div class="input-group">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="text"
              class="form-control"
              name="birthday"
              ngbDatepicker
              #birthdayDp="ngbDatepicker"
              formControlName="birthday"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('birthday')!.invalid && (editForm.get('birthday')!.dirty || editForm.get('birthday')!.touched)) {
            <div>
              @if (editForm.get('birthday')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_website" jhiTranslate="jbookmanApp.author.website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_socialmedia" jhiTranslate="jbookmanApp.author.socialmedia">Socialmedia</label>
          <input
            type="text"
            class="form-control"
            name="socialmedia"
            id="field_socialmedia"
            data-cy="socialmedia"
            formControlName="socialmedia"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
